body {
	background-color: #232323 !important;
}

.btn {
	border-radius: 0px;
}

#modal_size {
	width: 710 !important;
	height: 700 !important;
}

p {
	margin: 0;
}

#map-container {
	height: 300px;
}

#logo {
	width: 250px;
}

.logo-align {
	vertical-align: middle;
}