body {
	background-color: #232323 !important;
}

.btn {
	border-radius: 0px;
}

#modal_size {
	width: 710px !important;
	height: 700px !important;
}

p {
	margin: 0;
}

#map-container {
	height: 300px;
}

#logo {
	width: 250px;
}

.logo-align {
	vertical-align: middle;
}

.modal-content { 
	max-width: 710px; 
	padding-left: 0px; 
	margin-left: 0px; 
	overflow-y: hidden;
} 

iframe { 
	scrolling: no; 
	overflow: hidden; 
	padding-left: 0px; 
	margin-left: 0px; 
	max-width: inherit; 
	max-height: inherit; 
	overflow: hidden;
} 

.modal-body {
	overflow: hidden;
} 

.modal { 
	overflow: hidden;
}